<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>crm</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <!--    <filter>-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.bjpowernode.crm.web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <!--*****************-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.bjpowernode.crm.web.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <!--   user模块 <servlet>-->
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.bjpowernode.crm.settings.web.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/settings/user/login.do</url-pattern>
    </servlet-mapping>


    <!--   市场活动模块 <servlet>-->
    <servlet>
        <servlet-name>ActivityServlet</servlet-name>
        <servlet-class>com.bjpowernode.crm.workbench.web.controller.ActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/workbench/Activity/getUserList.do</url-pattern>
        <url-pattern>/workbench/Activity/saveActivity.do</url-pattern>
        <url-pattern>/workbench/Activity/getActivityList.do</url-pattern>
        <url-pattern>/workbench/Activity/deleteActivity.do</url-pattern>
        <url-pattern>/workbench/Activity/selectActivityAndUserList.do</url-pattern>
        <url-pattern>/workbench/Activity/updateActivity.do</url-pattern>
    </servlet-mapping>
</web-app>
